.todo {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  &-form {
    display: flex;
    flex-direction: column;
    width: 35%;
    &-input {
      padding: 12px;
      font-size: 16px;
      margin-bottom: 32px;
      border: 2px solid #66dfc1;
      border-radius: 6px;
      outline: none;
      transition: ease 0.45s;
      &:focus,
      &:hover {
        border: 2px solid #53af98;
      }
    }
    &-add_btn {
      padding: 12px 20px;
      font-weight: 700;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      background-color: #66dfc1;
      align-self: center;
      transition: ease 0.45s;
      &:hover {
        transform: translateY(-2px);
        box-shadow: 6px 6px 12px #00000063;
      }
    }
  }
}
